<h1>TASK MANAGER PAGE</h1>
{{#each taskMgr}}
<img src="{{image}}" alt=""> <br>
Company: {{company}} <br>
Website: {{website}} <br>
Point of Contact: {{pointOfContact}} <br>
Industry: {{industry}} <br>
Tasks Created: {{tasks}}
{{/each}}