
{{#each task}}
<div class="uk-container uk-align-center uk-card uk-card-primary uk-card-body uk-card-hover">
    <a href="/manager/{{_id}}"><h1>Title:{{title}}</h1></a> <br>
    Required Skills: {{qualifications}} <br>
    Estimated # of hours of work: {{totalHours}} <br>
    Pay per hour: $ {{budget}} per hour<br>
    Date Posted: {{postDate}}

</div>

{{/each}}