<h1>SHOW</h1>

<a href="/{{taskId}}">BACK</a>

<div class="uk-container uk-align-center">
    <h1>Title:{{task.title}}</h1> <br>
    Description: {{task.workDescription}} <br>
    Required Skills: {{task.qualifications}} <br>
    Estimated # of hours of work: {{task.totalHours}} <br>
    Pay per hour: $ {{task.budget}} per hour<br>
    Company: {{task.company}} <br>
    Industry: {{task.industry}} <br>
    Date Posted: {{task.postDate}}

    
</div>

<a href="/manager/{{taskId}}/edit"><button class="uk-button uk-button-secondary">EDIT GIG</button></a>

<form action="/manager/{{taskId}}?_method=DELETE" method="POST">
    <button class="uk-button uk-button-secondary" type="submit">DELETE</button>
</form>