<h1>SHOW</h1>



<div class="uk-container uk-align-center">
    <h1>Title:{{task.title}}</h1> <br>
    Description: {{task.workDescription}} <br>
    Required Skills: {{task.qualifications}} <br>
    Estimated # of hours of work: {{task.totalHours}} <br>
    Pay per hour: $ {{task.budget}} per hour<br>
    Company: {{task.company}} <br>
    Industry: {{task.industry}} <br>
    Date Posted: {{task.postDate}}

    
</div>

<a href="/manager/{{task._id}}/edit"><button >EDIT GIG</button></a>

<form action="">
    <button>DELETE</button>
</form>